@import url(http://fonts.googleapis.com/css?family=Lato:600,400,300);
html, body {
	height: auto;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Avenir, Lato, Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 0;
	color: #d3d3d3;
	background: #333;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #fff;
}
a:link, a:hover, a:active, a:visited { text-decoration: none; color: inherit; outline: none;}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.title {
	text-align: center;
	margin: 0 auto;
	font-size: 5em;
	padding: 20px;
}

#board1 {
	margin: 0 auto;
	width: 800px;
}
thead > tr > th {
	padding: 1em;
}
table {
	color: #333;
	width: 90%;
	margin: 0em auto;
}
td{
	text-align: center;
	font-size: 1em;
	padding: 1em;
}


td:nth-child(2n) {
	background: rgba(0,0,0,0.05);
}

tr:nth-child(2n) {
	background: rgba(0,0,0,0.05);
	color: #111;
}





/* Bigger than 550 */
@media (min-width: 1060px) {

}